body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

h1, h2, h3, h4 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

.main_texto {
  padding: 100px;
  justify-content: center;
}
.main_texto .main_texto1 {
  padding: 10px;
  text-align: center;
}
.main_texto .main_foto {
  padding: 10px;
}
.main_texto .main_texto2 {
  padding: 10px;
}

.section_image {
  width: 100%;
  height: 1200px;
  background-image: url("../img/bg-price.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.animation-element {
  opacity: 0;
  transition: all 500ms linear;
  transform: translate3d(0px, 20px, 0px);
  transition-delay: 0.5s;
  position: relative;
}

.animation-element.in-view {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.card {
  width: 25%;
  margin: auto;
  text-align: center;
  background-color: #fff;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: #fff;
  background-color: #2ab7ca;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

.luxbar-navigation {
  padding: 0 30px;
  align-content: center;
}

.contenedor {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@media (min-width: 576px) {
  .contenedor {
    width: 540px;
  }

  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }
}
@media (min-width: 768px) {
  .contenedor {
    width: 750px;
  }

  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }
}
@media (min-width: 992px) {
  .contenedor {
    width: 970px;
  }

  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }
}
@media (min-width: 1200px) {
  .contenedor {
    width: 1170px;
  }

  .d-xl-none {
    display: none;
  }

  .d-xl-block {
    display: block;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-12 {
  grid-column: span 12;
}

.col-11 {
  grid-column: span 11;
}

.col-10 {
  grid-column: span 10;
}

.col-9 {
  grid-column: span 9;
}

.col-8 {
  grid-column: span 8;
}

.col-7 {
  grid-column: span 7;
}

.col-6 {
  grid-column: span 6;
}

.col-5 {
  grid-column: span 5;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.col-2 {
  grid-column: span 2;
}

.col-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-xl-12 {
    grid-column: span 12;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-1 {
    grid-column: span 1;
  }
}
.header_image {
  width: 100%;
  height: 1200px;
  background-image: url("../img/bg-hero.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.header_image .row {
  padding: 0 30px;
}
.header_image .header_texto {
  padding: 60px;
}

/*# sourceMappingURL=style.css.map */
