
footer {
    height: 100px;
    background-color: $raisingblack;
    color: $white;
    font-size: 1rem;
    text-align: center;

    .footer_items {
        padding-top: 20px;
        box-sizing: border-box;
        text-align: center;
        a {
            padding: 0 20px;
        }
    }

}

@media (min-width: 768px) {
    footer {
        height: 100px;
        background-color: $raisingblack;
        color: $white;
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
      
    
        .footer_items {
            padding: 50px;
            box-sizing: border-box;
            text-align: center;
            margin: 0px 15px;
    
            a {
                padding: 0 20px;
            }
        }
    
    }
}