

.header_image {
    width: 150%;
    height: 600px;
    background-image: url('../img/bg-hero.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}