
.header_texto {
    padding: 40px;
}

.header_image {
    width: 100vw;
    height: 300px;
    background-image: url('../img/bg-hero.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    
}

@media (min-width: 768px) {
    .header_image {
        width: 100vw;
        height: 1200px;
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
}