
.header_image {
    width: 100vw;
    height: 300px;
    background-image: url('../img/bg-hero.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    
    .row {
        width: 90%;
       
    }

    .header_texto {
        padding: 40px;
    }
}

@media (min-width: 768px) {
    .header_image {
        width: 100vw;
        height: 1200px;
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    
        .row {
            width: 80vw;
            padding: 30px;
        }
        .header_texto {
            padding: 60px;
        }
    }
    
}