
.main_texto {
    padding: 100px;
    justify-content: center;

    .main_texto1 {
        padding: 10px;
        text-align: center;
    }
    .main_foto {
        padding: 10px;
    }
    .main_texto2 {
        padding: 10px;
    }
}

.section_image {
    width: 100%;
    height: 1200px;
    background-image: url('../img/bg-price.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.animation-element {
    opacity: 0;
    transition: all 500ms linear;
    transform: translate3d(0px, 20px,0px);
    transition-delay: 0.5s;
    position: relative;
}
.animation-element.in-view {
    opacity: 1;
    transform: translate3d(0px, 0px,0px);
}


.card {
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: $white;
}
  
.price {
    color: $raisingblack;
    font-size: 22px;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: $white;
    background-color: $ballblue;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
