
.main_texto {
    padding: 100px;
    justify-content: center;

    .main_texto1 {
        padding: 10px;
        text-align: center;
    }
    .main_foto {
        padding: 10px;
    }
    .main_texto2 {
        padding: 10px;
    }
}

// ANIMACION GRAFICO //

.animation-element {
    opacity: 0;
    transition: all 500ms linear;
    transform: translate3d(0px, 20px,0px);
    transition-delay: 0.5s;
    position: relative;
}
.animation-element.in-view {
    opacity: 1;
    transform: translate3d(0px, 0px,0px);
}

// SECTION CARDS //

.section_image {
    width: 100%;
    height: 1200px;
    background-image: url('../img/bg-price.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .section_contenido {
        padding: 100px;
        text-align: center;
    }

    .titulo_card {
        padding: 100px;
        text-align: center;
        color: $white;
    }
}

.card {
    width: 50%;
    padding: 20px;
    text-align: left;
    background-color: $white;

    li {
        color: $raisingblack;
        padding: 0 20px;
        font-size: 0.5rem;
    }
}
  
.price {
    color: $raisingblack;
    font-size: 2.5rem;
}
.linea_card {
    border: solid 1px $spanishgray;
}
  
.card button {
    width: 80%;
    outline: 0;
    padding: 10px;
    color: $white;
    border: none;
    background-color: $ballblue;
    text-align: center;
    font-size: 1.5px;
}

.section_image {
    width: 100%;
    height: 1200px;
    background-image: url('../img/bg-price.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .section_contenido {
        padding: 50px;
        text-align: center;
    }
}